.vs/

Livesplit.BelowZero/bin/
Livesplit.BelowZero/obj/

Components/*.dll
Components/*.pdb
Components/*.xml
!Components/LiveSplit.BelowZero.dll
!Components/BelowZero.Updates.xml

_work/
LocalPaths.md
docs/
_scratch_*.cs
tmp_compare_versions.py

*.user
*.suo
*.userosscache
*.sln.docstates

_*.log
